@use "../utils/variables" as *;

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  &__board {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__buttons {
    height: 5rem;
    width: calc((4 + 0.5) * 4rem);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  &__cell {
    width: 4rem;
    height: 4rem;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid;

    &--tile {
      border-color: $border-color;
    }

    &--button {
      &:hover {
        background-color: grey;
      }
    }

    &--bottom-border {
      border-bottom-color: $text-color;
    }

    &--right-border {
      border-right-color: $text-color;
    }

    &--top-border {
      border-top-color: $text-color;
    }

    &--left-border {
      border-left-color: $text-color;
    }
  }

  .selected {
    background-color: darkgray;
  }

  .given {
    background-color: grey;
  }
}
