@use "../utils/variables" as *;

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  &__board {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    border: 4px solid $text-color;
  }

  &__buttons {
    height: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  &__cell {
    width: 4rem;
    height: 4rem;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid;

    &--tile {
      border-color: $border-color;
    }

    &--bottom-border {
      border-bottom-color: $text-color;
    }

    &--right-border {
      border-right-color: $text-color;
    }

    &--top-border {
      border-top-color: $text-color;
    }

    &--left-border {
      border-left-color: $text-color;
    }

    &--button {
      border-radius: 1rem;
      &:hover {
        font-size: 3.2rem;
        text-shadow: $highlighted 1px 1px 10px;
      }
    }
  }

  .question {
    color: $question-color;
  }

  .mainHighlight {
    background-color: $highlighted;
  }

  .secondaryHighlight {
    background-color: $border-color;
  }

  .disabled {
    background-color: $border-color;
    color: $question-color;
    text-shadow: none;

    &:hover {
      font-size: 3rem;
    }
  }
}
