@use "../utils/variables" as *;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $highlighted;
  color: $text-color;
  padding: 2rem;
  height: 100vh;
}

img {
  background-color: white;
  height: 25vw;
  width: 25vw;
}

h1 {
  text-shadow: $background-color 0 0 5px;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 1.5rem;
    gap: 2rem;
  }
  img {
    max-width: 300px;
    max-height: 300px;
  }
}
