$background-color: white;
$text-color: black;
$border-color: rgb(214, 206, 206);
$highlighted: rgb(45, 79, 138);
$secondary-highlight: rgb(102, 148, 227);
$question-color: rgb(94, 92, 92);
$wrong-answer: maroon;
$green: rgb(145, 184, 145);
