@use "../utils/variables" as *;

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  &__board {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    border: 4px solid $text-color;
    background-color: $background-color;
  }

  &__buttons {
    height: 5rem;
    display: flex;
    justify-content: center;
    gap: 0.25rem;
    width: 100vw;
  }

  &__cell {
    //all the cells
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid;

    &--tile {
      //cells on the board
      border-color: $border-color;
    }

    //borders to make the board grid
    &--bottom-border {
      border-bottom-color: $text-color;
    }

    &--right-border {
      border-right-color: $text-color;
    }

    &--top-border {
      border-top-color: $text-color;
    }

    &--left-border {
      border-left-color: $text-color;
    }

    &--button {
      //buttons
      border-radius: 1rem;
      background-color: $green;
      &:hover {
        font-size: 2.4rem;
        text-shadow: $highlighted 1px 1px 10px;
      }
    }
  }

  .disabled {
    //disabled buttons
    background-color: $border-color;
    color: $question-color;
    text-shadow: none;

    &:hover {
      font-size: 2rem;
    }
  }

  .question {
    //cells with question in them
    color: $question-color;
  }

  .secondaryHighlight {
    background-color: $secondary-highlight;
  }
  .mainHighlight {
    background-color: $highlighted;
  }

  .wrong {
    //cells with wrong answer
    color: $wrong-answer;
  }

  //board width based on size
  .width9 {
    width: 27.5rem;
  }

  .width6 {
    width: 18.5rem;
  }

  .width4 {
    width: 12.5rem;
  }
}

@media screen and (min-width: 768px) {
  .game {
    gap: 4rem;
    &__board {
      transform: scale(1.2);
    }
    &__buttons {
      transform: scale(1.2);
    }
  }
}
@media screen and (min-width: 1024px) {
  .game {
    &__board {
      transform: scale(1.5);
    }
    &__buttons {
      transform: scale(1.2);
    }
  }
}
